<ol>
  <% @stories.each do |story| %>
    <li>
      <%= link_to "▲", "#{story_path(story)}/upvote", method: :post %>
      <%= link_to "▼", "#{story_path(story)}/downvote", method: :post %>
      <%= link_to story.title, story %>
    </li>
  <% end %>
</ol>
